<template name="notificationModal">
	<i class="close icon">
	</i>
	<div class="header">
    	Choose Users to Notify
	</div>
	<div class="content">
    	<div class="grouped inline fields">
	    	{{#each users_to_notify}}
		    	<div class="field">
			    	<div class="ui checkbox notification-check">
				    	<input type="checkbox" value="{{username}}" class="check-option">
				    	<label>{{name}}</label>
			    	</div>
		    	</div>
	    	{{/each}}
    	</div>
    	<textarea class="custom-notification" placeholder="Enter a custom message here if needed"></textarea>
    	{{initializeTextArea}}
	</div>
	<div class="actions">
    	<div class="ui blue button cancel">
	    	Back
    	</div>
    	<div class="ui green button send">
	    	Send
    	</div>
	</div>
</template>

