<template name="draftBoard">
    <div class="ui center aligned three column grid">
    	<div class="calendar row">
	    	<div class="draft column">
	    		<div class="ui draft-item segment">
  					<div class="ui top blue attached label"><i class="large linkedin icon"></i>Follow friday</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book</p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
	    		</div>
	    	</div>
	    	<div class="draft column">
	    		<div class="ui draft-item segment">
  					<div class="ui top blue attached label"><i class="large linkedin icon"></i>Follow friday</div>
  					<div class="ui segment">
	  					<p>Some stuff</p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
	    		</div>
	    	</div>
	    	<div class="draft column">
	    		<div class="ui draft-item segment">
  					<div class="ui top blue attached label"><i class="large linkedin icon"></i>Follow friday</div>
  					<div class="ui segment">
	  					<p>Some stuff</p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
	    		</div>
	    	</div>
    	</div>
    	<div class="calendar row">
	    	<div class="draft column">
	    		<div class="ui draft-item segment">
  					<div class="ui top blue attached label"><i class="large linkedin icon"></i>Follow friday</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book</p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
	    		</div>
	    	</div>
	    	<div class="draft column">
	    		<div class="ui draft-item segment">
  					<div class="ui top blue attached label"><i class="large linkedin icon"></i>Follow friday</div>
  					<div class="ui segment">
	  					<p>Some stuff</p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
	    		</div>
	    	</div>
	    	<div class="draft column">
	    		<div class="ui draft-item segment">
  					<div class="ui top blue attached label"><i class="large linkedin icon"></i>Follow friday</div>
  					<div class="ui segment">
	  					<p>Some stuff</p>
  					</div>
  					<div class="ui segment">
	  					<p>On Book Lovers Day, we just have to ask -- what's your favorite book to curl up with? </p>
  					</div>
	    		</div>
	    	</div>
    	</div>
	</div>
</template>

