<template name="draftBoard">
	<table class="ui table segment draft-table">
		<thead class='draft-header'>
			<tr>
				{{#each table_headers}}
					<th>{{display}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each content_buckets}}
				<tr>
					{{#each draft_variables}}
						<td>{{value}}</td>
					{{/each}}
				</tr>
			{{/each}}
<!--
			<tr class="positive">
				<td>Throwback Thursday</td>
				<td>
					<textarea class="content-input" placeholder = "Enter a comment"></textarea>
					{{initializeTextArea}}
				</td>
				<td class= "network-type-column">
					<div class="ui inline dropdown network-type-inline">
						<div class="text">Facebook</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item active" data-text="facebook">Facebook</div>
							<div class="item active" data-text="twitter">Twitter</div>
							<div class="item active" data-text="instagram">Instagram</div>
							<div class="item active" data-text="linkedin">LinkedIN</div>
						</div>
					</div>
					{{initializeDropdown}}
				</td>
				<td>Photo</td>
				<td>Monday</td>
				<td>10PM</td>
				<td>
					<textarea class="content-input" placeholder = "Enter a comment"></textarea>
					{{initializeTextArea}}
				</td>
			</tr>
			<tr>
				<td>Something else</td>
				<td>		
					<textarea class="content-input" placeholder = "Enter a comment"></textarea>
					{{initializeTextArea}}
				</td>
				<td>Facebook</td>
				<td>Photo</td>
				<td>Monday</td>
				<td>10PM</td>
				<td>
					<textarea class="content-input" placeholder = "Enter a comment"></textarea>
					{{initializeTextArea}}
				</td>
			</tr>
			<tr>
				<td>
					Other one
				</td>
				<td>
					<i class="plus icon"></i>
				</td>
				<td>Facebook</td>
				<td>Photo</td>
				<td>Monday</td>
				<td>10PM</td>
				<td>
					<textarea class="content-input" placeholder = "Enter a comment"></textarea>
					{{initializeTextArea}}
				</td>
			</tr>
-->
		</tbody>
		<tfoot>
			<tr>
				<th>
					<div class="ui blue labeled icon button">
						<i class="plus icon"></i>Convert All
					</div>
				</th>
			</tr>
		</tfoot>
	</table>
</template>

