@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.ui.segment.draft-item {
	font-size : 11px;
	line-height : 15px;
}

thead.draft-header {
	font-family : alternate-gothic-no-1-d;
	font-size : 20px;
	text-transform: uppercase;
}

.ui.table.segment.draft-table {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size : 14px;
}

.ui.segment.draft-item > {
	.ui.attached.label {
		font-size : 13px;
		margin-botton : 5px;
		
	}
}

td.network-type-column {
	min-width : 140px;
}

textarea.content-input {
	width : 100%;
	border : 1px solid rgba(0,0,0,.15);
	border-radius : 5px 5px 5px 5px;

}

.column.draft {
	padding-top : 10px;
}


