@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.ui.segment.draft-item {
	font-size : 11px;
	line-height : 15px;
}

.ui.center.aligned.header.draft-title {
	font-family: alternate-gothic-no-1-d;
	font-size: 30px;
	text-transform: uppercase;
}

.ui.table.segment.draft-table {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size : 14px;
}



.ui.segment.draft-item > {
	.ui.attached.label {
		font-size : 13px;
		margin-botton : 5px;
	}
}

.draft-arrow-column > {
	.left.arrow.icon {
	 	margin-left: auto;
	    margin-right: auto;
	}
}

td.network-type-column {
	min-width : 140px;
}

textarea.content-input {
	width : 100%;
	border : 1px solid rgba(0,0,0,.15);
	border-radius : 5px 5px 5px 5px;
}

textarea.draft-link-input {
	width : 100%;
	border : 1px solid rgba(0,0,0,.15);
	border-radius : 5px 5px 5px 5px;
}

.column.draft {
	padding-top : 10px;
}


