<template name="editContentBucketModal">
    <div class="header">{{mode_name}} Content Bucket</div>
    <div class="content">
		
		<div class="content-bucket-form ui form">
			<div class="field">
				<label>Description</label>
				<input type="text" class="description-input" value="{{description}}">
				{{#if description_has_error}}
					<div class="ui red pointing above ui label">Enter a description</div>
				{{/if}}
			</div>
			<div class="inline field">
				<div class="repeats-toggle ui toggle checkbox">
					<input type="checkbox" name="repeats" id="repeats">
					<label>Should Repeat</label>
					
				</div>
			</div>
			<div class="inline field">
				<div class="required-toggle ui toggle checkbox">
					<input type="checkbox" name="required" id="required">
					<label>Required</label>
					
				</div>
			</div>
			{{#if is_repeating}}
				<div class="inline field">
					<div class="ui selection dropdown interval-dropdown">
						<input type="hidden" name="interval">
						<div class="default text">Repeats</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" data-value="weekly">Weekly</div>
							<div class="item" data-value="bi_weekly">Bi-Weekly</div>
							<div class="item" data-value="monthly">Monthly</div>
						</div>
					</div>
					<label class='interval-label'>Repeat Interval</label>
					{{initializeDropdowns}}
					  		
				</div>
			{{/if}}
			</div>
			{{initializeToggles}}
		
    </div>
    <div class="bucket-actions actions">
	    <div class="blue ui button back-bucket">Back</div>
	    {{#if creating_new}}
	    	<div class="green ui button create-bucket">Create</div>
	    {{else}}
	    	<div class="green ui button edit-bucket">Edit</div>
	    {{/if}}
	    
    </div>
</template>

