<template name="editContentBucketModal">
    <div class="header">Edit Content Bucket</div>
    <div class="content">
		
		<div class="content-bucket-form ui form">
			<div class="field">
				<label>Description</label>
				<input type="text" class="description-input" value="{{description}}">
			</div>
			<div class="inline field">
				<div class="repeats-toggle ui toggle checkbox">
					<input type="checkbox" name="repeats" id="repeats">
					<label>Should Repeat</label>
				</div>
			</div>		
  		</div>
  		{{initializeToggle}}
    </div>
    <div class="bucket-actions actions">
	    {{#if creating_new}}
	    	<div class="blue ui button create">Create</div>
	    {{else}}
	    	<div class="green ui button edit">Edit</div>
	    {{/if}}
    </div>
</template>

