@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.item-preview > {
	.preview-content > {
		.comments  {
			margin-right : auto;
			margin-left : auto;
			font-size: 11px;
		}
		.comment > {
			.ui.input {
				width : 100%;
			}
			.comment-input {
				margin-top : 4px;
				width : 100%;
			}
			.actions {
				text-align : center;
				
			}
			.author {
				color: #009FDA;
				text-decoration: none;
			}
		}
	}	
}