<template name="approvalItemComments">
    <div class="ui segment comment-container">
	    <div class="ui comments">
		    <div class="comment">
			   	<a class="avatar">
				   	<img src="/images/fb_icon.png" />
			   	</a>
			    <div class="content">
				    <a class="author">
					    Clay Branch
				    </a>
				    <div class="metadata">
					    <span class="date">Monday</span>
				    </div>
				    <div class="text">
					    Comment Text
				    </div>
			    </div>
		    </div>
		    <div class="comment">
			   	<a class="avatar">
				   	<img src="/images/fb_icon.png" />
			   	</a>
			    <div class="content">
				    <a class="author">
					    Clay Branch
				    </a>
				    <div class="metadata">
					    <span class="date">Monday</span>
				    </div>
				    <div class="text">
					   Lorem ipsum dolor sit amet, quo doctus pericula disputando at, virtute vituperata pri no, an stet perpetua his. Usu alii debet ea, quodsi quaeque aliquando pri ex, nam te error repudiare. Pri corpora 
				    </div>
			    </div>
		    </div>
		    <div class="comment">
			   	<a class="avatar">
				   	<img src="/images/fb_icon.png" />
			   	</a>
			    <div class="content">
				    <a class="author">
					    Clay Branch
				    </a>
				    <div class="text">
						<div class="ui input">
							<input class="comment-input" type="text" placeholder = "Enter a comment"/>
						</div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
</template>

