<template name="approvalItemComments">
	    <div class="ui comments">
		    {{#each comments}}
			    <div class="comment">
				   	<a class="avatar">
					   	<img src="{{avatar}}" />
				   	</a>
				    <div class="content">
					    <a class="author">
						    {{name}}
					    </a>
					    <div class="metadata">
						    <span class="date">{{formatted_date}}</span>
						    <i class="close icon link icon delete-comment"></i>
					    </div>
					    <div class="text">
						    {{#if being_edited}}
							    <div class="text">
									<textarea class="comment-input comment-edit {{input_class}}" placeholder = "Enter a comment">{{text}}</textarea>
									{{initializeTextarea}}
							    </div>
							{{else}}
								<span class='comment-display-text {{display_class}}'>{{text}}</span>
							{{/if}}
					    </div>
				    </div>
			    </div>
		    {{/each}}
		    <div class="comment">
			   	<a class="avatar">
				   	<img src="{{user_picture}}" />
			   	</a>
			    <div class="content">
				    <a class="author">
					    {{user_name}}
				    </a>
				    <div class="text">
						<textarea class="comment-input comment-create" placeholder = "Enter a comment"></textarea>
						{{initializeTextarea}}
				    </div>
			    </div>
		    </div>
	    </div>
</template>

