@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.create-item > {
	.content > {
		.comment-container  {
			width : 497px;
		    position : relative;
		    width : 497px;
		    left: 50%;
		    transform: translateX(-50%);
		    font-size : 11px;	
		}
		.comment > {
			.actions {
				text-align : left;
			}
			.author {
				color: #009FDA;
				text-decoration: none;
			}
		}
	}	
}