@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

@font-face {
    font-family: alternate-gothic-no-1-d; 
    src:
    url("/fonts/AlternateGotNo1D.ttf"),
}


.content-calendar > {
	.calendar.row {
		height : 175px;
		margin-top : 0px;
		padding-top : 0px;
	}
	.calendar.row > .arrow.column {
		padding-top : 10px;
		border-top: none;
	}
}

.hidden {
	display : none !important;
}










