<template name="contentCalendar">
    <div class="content-calendar ui center aligned nine column divided grid">
    	<div class="calendar row">
	    	<div class="back arrow column">
	    		<a><i class="large left arrow icon"></i></a>
	    	</div>
    		
    		{{#if is_in_house}}
	    		{{#each calendar_days}}
	    			{{> calendarDay day_type='internal' day=this}}
	    		{{/each}}
	    	{{else}}
	    		{{#each calendar_days}}
	    			{{> calendarDay day_type='external' day=this}}
	    		{{/each}}
	    	{{/if}}
	    	
	    	<div class="forward arrow column">
	    		<a><i class="large right arrow icon"></i></a>
	    	</div>
    	</div>
    	{{#if is_not_client}}
	    	{{#if is_in_house}}
	    	{{else}}
		    	<div class="bottom calendar row">
			    	<div class="back arrow column">
			    	</div>
		    		{{#each calendar_days}}
		    			{{> calendarDay day_type='internal' day=this}}
		    		{{/each}}
			    	<div class="forward arrow column">
			    	</div>
		    	</div>
	    	{{/if}}
			{{#if can_see_private_row}}
		    	<div class="bottom calendar row">
			    	<div class="back arrow column">
			    	</div>
		    		{{#each calendar_days}}
		    			{{> calendarDay day_type='private' day=this}}
		    		{{/each}}
			    	<div class="forward arrow column">
			    	</div>
		    	</div>
	    	{{/if}}
	    {{/if}}
	</div>
	{{initializeDroppables}}
	
</template>

