<template name="contentCalendar">
    <div class="content-calendar ui center aligned nine column divided grid">
    	<div class="calendar row">
	    	<div class="arrow column">
	    		<a><i class="large left arrow icon"></i></a>
	    	</div>
    		{{#each calendar_days}}
    			{{> calendarDay is_external=true day=this}}
    		{{/each}}
	    	<div class="arrow column">
	    		<i class="large right arrow icon"></i>
	    	</div>
    	</div>
    	<div class="bottom calendar row">
	    	<div class="arrow column">
	    	</div>
    		{{#each calendar_days}}
    			{{> calendarDay is_external=false day=this}}
    		{{/each}}
	    	<div class="arrow column">
	    	</div>
    	</div>
	</div>
</template>

