<template name="linkedPreview">
    <div class="ui segment linked-box {{picture_class}}">
		<img class="linked-profile" src="{{profile_pic_url}}" alt="" />
		<div class="linked-content">
			<span class="linked-name">
				{{display_name}}
			</span>
			{{#if has_description}}
				{{#with linked_description}}
					{{#clickableInput}}
							<span id="{{id}}_display" class="linked-description edit-target">{{text}}</span>
					{{/clickableInput}}
				{{/with}}
			{{/if}}
			{{#if has_picture}}
				<div class="linked-post">
					{{#S3 callback="uploadImage" onUpload="setUploadURL"}}
						<input id='image-input' type="file">
					{{/S3}}
		
					<label for="image-input">
						<div class="linked-image-container">
							<img class="ui image linked-image edit-target" src="{{image_url}}">
						</div>
					</label>
					<div class="linked-body">
						{{#with linked_content_title}}
							{{#clickableInput}}
									<span id="{{id}}_display" class="linked-title edit-target">{{text}}</span>
							{{/clickableInput}}
						{{/with}}
						<p class='details-container'>
							<span class='linked-source'>{{display_name}} on LinkedIn</span> 
								{{#with linked_body}}
									{{#clickableInput}}
											<span id="{{id}}_display" class="linked-details edit-target">{{text}}</span>
									{{/clickableInput}}
								{{/with}}
						</p>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</template>

