@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.ui.segment.linked-box {
	width : 646px;
	height : 200px;
	padding-left : 0px;
	padding-top : 20px;
	padding-right : 0px;
	padding-bottom : 0px;
	line-height: 15px;
}

.ui.segment.linked-box.no-picture {
	height : 80px;
}


.linked-box > {
	span.linked-description, textarea.linked-description {
		margin-top: 6px;
		font-size: 13px;
		font-family: Helvetica, Arial, sans-serif;
		display: block;
	}
	.linked-post {
		margin-top : 8px;
		text-align : left;
		display : block;
	}
	.linked-post > {
		.linked-image-container {
			height: 110px;
			width: 180px;	
			display : block;
			float : left;
			margin-right : 15px;
			overflow: hidden;
		}
		.linked-image {
			width : 180px;
		}
		.linked-body {
			font-family: Helvetica, Arial, sans-serif;
		}
		.linked-body > {
			.linked-title, textarea.linked-title{
				height: 18px;
				line-height: 18px;
				font-weight: bold;
			}
			.details-container {
				margin-top : 4px;
				height : 85px;
			}
			.linked-details, textarea.linked-details {
				line-height: 17px;
				font-size : 13px;
			}
			.linked-source {
				color : rgb(153, 153, 153);
				font-weight: bold;
				font-size : 12px;
				margin-right : 14px;
			}
		}
		
	}
	.linked-profile {
		display : block;
		float : left;
		margin-right : 15px;
	}
	.linked-content {
		width : 545px;
		height : 134px;
		display : block;
		float : left;
	}
	.linked-content > {
		.linked-name {
			color : rgb(0, 119, 181);
			font-family: Helvetica, Arial, sans-serif;
			font-size: 13px;
			font-style: normal;
			font-weight: bold;
			line-height: 1px;
			display: inline;
		}
	}

}
