<template name="basicLogin">
    <div class="ui one column page grid">
	    <div class="column">
			{{#if error_message}}
				<div class="ui error message login-error">
				  <i class="close icon"></i>
				  <div class="header">
				    {{error_message}}
				  </div>			
	  			</div>
	  		{{/if}}

				
		    <div class="login-container">
				<h2 class="login-header">
					<span>Login</span>			    
				</h2>
				<div class="ui input">
					<input type="text" class='login-input username-input' placeholder="username"/>
				</div>
				<div class="ui input">
					<input type="text" class='login-input password-input' placeholder="password"/>
				</div>
				<div class="ui small blue button login">
					Submit
				</div>
		    </div>
	    </div>
    </div>
</template>

