<template name="instagramPreview">
	<div class="instagram-box">
    	<img class="instagram-image" src="http://photos-g.ak.instagram.com/hphotos-ak-xaf1/10632436_282696248592966_16473152_n.jpg" alt="" />
    	<div class="instagram-likes">
	    	<a href="" class="like-button">
	    	</a>
	    	<div class="like-list">
		    	<span class="likes">
		    		blockwick, tapnbowler, keithmassa
		    	</span>
		    	<span class="like-text">
		    		and 5 others like this.
		    	</span>
	    	</div>
    	</div>
    	<div class="instagram-comment">
	    	<img class="instagram-profile-image" src="http://images.ak.instagram.com/profiles/profile_1122730_75sq_1374430700.jpg" alt="" />
	    	<div class="instagram-comment-container">
		    	<div class="comment-text">
			    	<span class="instagram-username">
				    	USATODAY
			    	</span>
		    		<span>National dog day! I think this is a pretty good pair to honor the day with!! #nationaldogday</span>
		    	</div>
	    	</div>
    	</div>
	</div>
</template>

