<template name="instagramPreview">
	<div class="instagram-box">
		
		
		{{#dynamicImage}}
			<div class="instagram-image-container">
				<img class="ui image instagram-image image-click-target edit-target" src="{{image_url}}">
			</div>
		{{/dynamicImage}}
    	
    	<div class="instagram-likes">
	    	<a href="" class="like-button">
	    	</a>
	    	<div class="like-list">
		    	<span class="likes">
		    		blockwick, tapnbowler, keithmassa
		    	</span>
		    	<span class="like-text">
		    		and 5 others like this.
		    	</span>
	    	</div>
    	</div>
    	<div class="instagram-comment">
	    	<img class="instagram-profile-image" src="{{profile_pic_url}}" alt="" />
	    	<div class="instagram-comment-container">
		    	<div class="comment-text">
			    	<span class="instagram-username">
				    	{{display_name}}
			    	</span>
				{{#with instagram_caption}}
					{{#clickableInput}}
		    			<span id="{{id}}_display" class="edit-target instagram-comment-input">{{{display_text}}}</span>
					{{/clickableInput}}
				{{/with}}
		    	</div>
	    	</div>
    	</div>
	</div>
</template>

