<template name="twitterPreview">
    <div class="ui segment twitter-box">
	    <div class="twitter-content">
		    <div class="twitter-header">
			    <img class="twitter-icon" src="https://pbs.twimg.com/profile_images/2044921128/finals_bigger.png" />
			    <strong class="profile-name">The New York Times</strong>
			    <span class="twitter-username">
			    	
			    	@nytimes . 1h
			    </span>
		    </div>
		    
			{{#with tweet_body}}
				{{#clickableInput}}
						<a id="{{id}}_display" class="twitter-body edit-target">{{text}}</a>
				{{/clickableInput}}
			{{/with}}
			
			{{#if show_image}}
				{{#S3 callback="uploadImage" onUpload="setUploadURL"}}
					<input id='image-input' type="file">
				{{/S3}}
			
				<label for="image-input">
				    <div class="twitter-image-container">
					    <img class="ui image twitter-image edit-target" src="{{image_url}}">
				    </div>
				</label>
			
			{{/if}}
		    <div class="twitter-actions">
			    <span>Reply  </span>
			    <span>Retweet  </span>
			    <span>Favorite  </span>
			    <span>More  </span>
		    </div>
	    </div>
    </div>
</template>

