<template name="twitterPreview">
    <div class="ui segment twitter-box {{picture_class}}">
	    {{> previewLoader}}
	    <div class="twitter-content">
		    <div class="twitter-header">
			    <img class="twitter-icon" src="{{profile_pic_url}}" />
			    <strong class="profile-name">{{display_name}}</strong>
			    <span class="twitter-username">
			 
			    	@{{twitter_profile_name}} . 1h
			    </span>
		    </div>
		    {{#if has_text}}
				{{#with tweet_body}}
					{{#clickableInput}}
							<a id="{{id}}_display" class="twitter-body edit-target">{{{display_text}}}</a>
					{{/clickableInput}}
				{{/with}}
			{{/if}}
			{{#if tweet_is_being_edited}}
				<span class='characters-remaining {{number_class}}'>{{characters_remaining}}</span>
			{{/if}}
			
			{{#if show_image}}
				{{#dynamicImage}}
					    <img class="ui image image-click-target twitter-image edit-target" src="{{image_url}}">
				{{/dynamicImage}}
			
			{{/if}}
		    <div class="twitter-actions">
			    <span>Reply  </span>
			    <span>Retweet  </span>
			    <span>Favorite  </span>
			    <span>More  </span>
		    </div>
	    </div>
    </div>
</template>

