<template name="twitterPreview">
    <div class="ui segment twitter-box">
	    <div class="twitter-content">
		    <div class="twitter-header">
			    <img class="twitter-icon" src="https://pbs.twimg.com/profile_images/2044921128/finals_bigger.png" />
			    <strong class="profile-name">The New York Times</strong>
			    <span class="twitter-username">
			    	
			    	@nytimes . 1h
			    </span>
		    </div>
		    <p class="twitter-body">
			    Andre 3000 says he's getting too old to be a rapper (Photo: Amber Fouts for NYT) http://nyti.ms/1phwhBl  
		    </p>
		    <div class="twitter-image-container">
			    <img class="ui image twitter-image" src="https://pbs.twimg.com/media/BwEquD7IYAAg9s2.jpg">
		    </div>
		    <div class="twitter-actions">
			    <span>Reply  </span>
			    <span>Retweet  </span>
			    <span>Favorite  </span>
			    <span>More  </span>
		    </div>
	    </div>
    </div>
</template>

