<template name="draftBoardFooter">
	<tfoot class="full-width">
		<tr>
			<th colspan="12">
				<div class="draft-buttons">
					<div class="create ui blue labeled icon button">
						<i class="plus icon"></i>Create New
					</div>
					<div class="save ui green labeled icon button">
						<i class="save icon"></i>Save Changes
					</div>
					<div class="convert ui purple labeled icon button">
						<i class="magic icon"></i>Convert All
					</div>
				</div>
			</th>
		</tr>
	</tfoot>
</template>

