<template name="facebookPreview">
	<div class="ui segment fb-box go-to-back">
		<div class = "image-container">
			<img class="ui image profile-icon" src="{{profile_pic_url}}">
		</div>
		<div class="name-container">
			<h5 class="profile-name"><a>{{display_name}}</a>
		</h5>
		<span class="time-ago">15 hrs</span>
		</div>
		
		{{#with description}}
			{{#clickableInput}}
				<p id="{{id}}_display" class='edit-target link-description'>{{text}}</p>
			{{/clickableInput}}
		{{/with}}
		
		<div class="content-container {{fixed_class}}">
		
			{{#if is_status_type}}
				
			{{else}}
				<input id='image_input' type="file" class="file_bag">
				<label for="image-input">
					<div class="link-image-container {{fixed_class}}">
						<img class="ui image link-image edit-target {{fixed_class}}" src="{{image_url}}">
					</div>
				</label>
			{{/if}}
			{{#if is_photo_type}}
				
			{{else}}
				<div class="link-body">
					
					{{#with link_body}}
						{{#clickableInput}}
								<a id="{{id}}_display" class="link-title edit-target">{{text}}</a>
						{{/clickableInput}}
					{{/with}}
					{{#with link_text}}
						{{#clickableInput}}
							<div class="link-text-container">
								<div id="{{id}}_display" class="link-text edit-target">
									{{text}}
								</div>
							</div>
						{{/clickableInput}}
					{{/with}}
					{{#if is_link_type}}
						<div class="link-domain">
							domain.com
						</div>	    
					{{/if}}
				</div>
			{{/if}}
		</div>
		<div class="actions-container">
			<span>Like</span>
			<span>Comment</span>
			<span>Share</span>
		</div>
	</div>
</template>

