<template name="facebookPreview">
	<div class="ui segment fb-box go-to-back">
		<div class = "image-container">
			<img class="ui image profile-icon" src="{{profile_pic_url}}">
		</div>
		<div class="name-container">
			<h5 class="profile-name"><a>{{display_name}}</a>
		</h5>
		<span class="time-ago">15 hrs</span>
		</div>
		<div class="link-description">
			{{#with link_description}}
				{{#clickableInput}}
					<p id="{{id}}_display" class='edit-target'>{{text}}</p>
				{{/clickableInput}}
			{{/with}}
		</div>
		<div class="content-container">
		
			{{#S3 callback="uploadImage" onUpload="setUploadURL"}}
				<input id='image-input' type="file">
			{{/S3}}

			<label for="image-input">
				<div class="link-image-container">
					<img class="ui image link-image edit-target" src="{{image_url}}">
				</div>
			</label>
			<div class="link-body">
				
				{{#with link_body}}
					{{#clickableInput}}
							<a id="{{id}}_display" class="link-title edit-target">{{text}}</a>
					{{/clickableInput}}
				{{/with}}
				{{#with link_text}}
					{{#clickableInput}}
						<div class="link-text-container">
							<div id="{{id}}_display" class="link-text edit-target">
								{{text}}
							</div>
						</div>
					{{/clickableInput}}
				{{/with}}
				<div class="link-domain">
					usatoday.com
				</div>	    
			</div>
		</div>
		<div class="actions-container">
			<span>Like</span>
			<span>Comment</span>
			<span>Share</span>
		</div>
	</div>
</template>

