@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

i.large.icon.bullseye.progress-icon {
	font-size : 20px;
	float : left;
	display : inline;
	margin-right : 10px;
}

.ui.progress.progress-bar {
	display : inline;
	float :left;
	width : 200px;
	height : 20px;
	padding : 0px 0px 0px 0px;
}

.ui.avatar.image.user-image {
	height : 20px;
	width : 20px;	
}
