@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

i.large.icon.dashboard.progress-icon {
	float : left;
	display : inline;
	margin-right : 15px;
	font-size : 27px;
}

.ui.progress.progress-bar {
	display : inline;
	float :left;
	width : 150px;
	height : 24px;
	padding : 0px 0px 0px 0px;
}


.ui.avatar.image.user-image {
	height : 25px;
	width : 25px;	
}
