<template name="calendarDay">
	<div class="column calendar-day {{drag_class}}">
    	{{#if is_external}}
    		<p class="day-name {{is_today_class}}">{{day.day_name}}</p>
    		<p class="full-date {{is_today_class}}">{{day.full_date}}</p>
    	{{/if}}
		<div class="content-container">
			{{#if is_external}}
				{{#each day.approval_items.external}}
					{{> approvalItemIcon}}
				{{/each}}
			{{/if}}
			
			{{#if is_internal}}
				{{#each day.approval_items.internal}}
					{{> approvalItemIcon}}
				{{/each}}
				<p class="day-name hide {{drag_class}}">{{day.day_name}}</p>
			{{/if}}
			
			{{#if is_private}}
				{{#each day.approval_items.private}}
					{{> approvalItemIcon}}
				{{/each}}
				{{#if is_not_art_director}}
					<a class="ui large grey circular label create-item-button">
					  <i class="plus create-icon icon"></i>
					</a>
				{{/if}}
			{{/if}}
		</div>
		{{initializeDroppable}}
	</div>
</template>

