<template name="calendarDay">
	<div class="column">
    	{{#if is_external}}
    		<p class="day-name">{{day.day_name}}</p>
    		<p class="full-date">{{day.full_date}}</p>
    	{{/if}}
		<div class="content-container">
			{{#if is_external}}
				{{#each day.approval_items.external}}
					{{updateReactiveVariables}}
					{{> approvalItemIcon}}
				{{/each}}
			{{else}}
				{{#each day.approval_items.internal}}
					{{updateReactiveVariables}}
					{{> approvalItemIcon}}
				{{/each}}
				{{#if is_not_client}}
					<a class="ui large grey circular label create-item-button">
					  <i class="plus create-icon icon"></i>
					</a>
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>

