@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.content-calendar > {
	.calendar.row > {
		.column {
			line-height: 35px;
		}
		.column > {
			.content-container {
				line-height: 35px;
				text-align : left;
				margin-top : 0px;
			}
			p.day-name {
				margin-top : 0px;
				font-family : alternate-gothic-no-1-d, 'Helvetica Neue', Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				font-size : 28px;
				margin-bottom: 0px;
			}
			p.day-name.hide {
				margin-top : 0px;
				font-family : alternate-gothic-no-1-d, 'Helvetica Neue', Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				font-size : 28px;
				margin-bottom: 0px;
				color : white;
				text-align : center;
			}
			p.day-name.hide.moused-over {
				color : #6ECFEF;
			}
			p.full-date {
				font-size: 11px;
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-style: normal;
				font-variant: normal;
				font-weight: normal;
				text-transform: uppercase;
				margin-top: 0px;
				margin-bottom: 0px;
				padding : 0 0 0 0;
			}
			p.full-date.is-today {
				color : #6ECFEF
			}
			p.day-name.is-today {
				color : #6ECFEF
			}
		}
	}
	.calendar.bottom.row > {
		.column {
			border-top: 1px solid rgba(0, 0, 0, 0.0980392);
		}
		.column.moused-over {
			background-color: #6ECFEF;
			border-color: #6ECFEF;
		}
		.content-container {
			margin-top : 10px;		
		}
	}	
}




