<template name="dataTable">
	<div class="ui grid">
		<div class="one wide column center aligned draft-arrow-column">
			<a><i class="large left last-week arrow icon"></i></a>		
		</div>
		<div class="fourteen wide column">
			<h1 class="ui center aligned header draft-title">Overview for  Week of {{week}}</h1>
			<table class ="ui center aligned segment table overview-table celled">
				{{> overviewHeaders}}
				{{> overviewBody}}
			</table>
		</div>
		<div class="one wide column center aligned draft-arrow-column">
			<a><i class="large right next-week arrow icon"></i></a>
		</div>
		<div class='page-filler'>
			
		</div>
	</div>
</template>

