<template name="createModal">
	<div class="header">
		{{#if creating_new_item}}
			<div>Create New</div>
		{{else}}
			<div>Edit</div>
		{{/if}}
	</div>
	<div class="content">
	    
	    {{#if creating_new_item}}
		    <div class="create-options">
				{{> networkTypeDropdown}}
				{{> contentTypeDropdown}}
			</div>
		{{/if}}
		
		
			{{#if is_content_type_chosen}}
				{{#with clickable_inputs}}
			    	{{ > createItemPreview}}
			    {{/with}}
			{{/if}}
		    {{#if creating_new_item}}
		   	 	
		   	{{else}}
		   		{{> approvalItemComments}}
		   	{{/if}}
	</div>
	<div class="actions">
		{{#if modal_shown}}
			<div class="approval-actions">
				{{#if creating_new_item}}
					<div class="small blue ui button submit">submit</div>
				{{else}}
					{{> creationActions}}
				{{/if}}
			</div>
		{{/if}}
	</div>
	
</template>

