<template name="createModal">
	<div class="header">
		{{#if creating_new_item}}
			<div>Create New</div>
		{{else}}
			<div>Edit</div>
		{{/if}}
	</div>
	<div class="content">
	    
	    {{#if creating_new_item}}
		    <div class="create-options">
				{{> networkTypeDropdown}}
				{{> contentTypeDropdown}}
			</div>
		{{/if}}
		
		
			{{#if is_content_type_chosen}}
				{{#with clickable_inputs}}
				    <div class="ui segment fb-box go-to-back">
					    {{#if is_content_type_chosen}}
						    <div class = "image-container">
							    <img class="ui image profile-icon" src="{{profile_pic_url}}">
						    </div>
						    <div class="name-container">
			    <h5 class="profile-name"><a>{{display_name}}</a>
			   </h5>
			   	
			    <span class="time-ago">15 hrs</span>
		    </div>
						    <div class="link-description">
								{{#with link_description}}
								    {{#clickableInput}}
								    	<p id="{{id}}_display" class='edit-target'>{{text}}</p>
								    {{/clickableInput}}
								{{/with}}
						    </div>
						    <div class="content-container">
								
									{{#S3 callback="uploadImage" onUpload="setUploadURL"}}
										<input id='image-input' type="file">
									{{/S3}}
							    	<label for="image-input">
								    	<img class="ui image link-image edit-target" src="{{image_url}}">
							    	</label>
							    	<div class="link-body">
										{{#with link_body}}
										    {{#clickableInput}}
										    	<a id="{{id}}_display" class="link-title edit-target">{{text}}</a>
										    {{/clickableInput}}
										{{/with}}
										{{#with link_text}}
										    {{#clickableInput}}
										    	<div id="{{id}}_display" class="link-text edit-target">
											    	{{text}}
										    	</div>
										    {{/clickableInput}}
										{{/with}}
								    	<div class="link-domain">
									    	usatoday.com
								    	</div>	    
							    	</div>
							    
						    </div>
						    <div class="actions-container">
							    <span>Like</span>
							    <span>Comment</span>
							    <span>Share</span>
						    </div>
					    {{/if}}
				</div>
			    {{/with}}
			{{/if}}
		    {{#if creating_new_item}}
		   	 	
		   	{{else}}
		   		{{> approvalItemComments}}
		   	{{/if}}
	</div>
	<div class="actions">
		{{#if modal_shown}}
			<div class="approval-actions">
				{{#if creating_new_item}}
					<div class="small blue ui button submit">submit</div>
				{{else}}
					{{> creationActions}}
				{{/if}}
			</div>
		{{/if}}
	</div>
	
</template>

