@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.ui.top.attached.asset-title {
	font-size : 16px;
	font-family : alternate-gothic-no-1-d, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
 	margin-left: auto;
    margin-right: auto;
}

.ui.segment.attached.creation-assets {
 	margin-left: auto;
    margin-right: auto;
    margin-bottom : 15px;
}
.creation-assets > {
	.item > {
		div.content > {
			.header {
			}
			p {
				font-size : 10px;
			}
			a.label {
				width : 30px;
				margin : 0 0 0 0;
			}
			a > i.icon {
				opacity : 1;
				margin : 0 0 0 0;
				color : white;
			}
			
		}
	}
}

.content-calendar > .calendar.row > .column > .content-container > {
}
