<template name="creationAssets">
	    <div class="ui divided list creation-assets">
		   	<div class="item current-assets">
			   	 <div class="content">
					{{# each assets}}
						<a class="ui large purple circular label"><i class="{{icon}} icon"></i></a>
					{{/each}}
			   	 </div>
		   	</div>
		   	<div class="item edit-asset">
			   	<div class="content">
				   	<div class="ui input">
					   	<input class ='input-asset' type="text" placeholder="Enter the URL"/>
				   	</div>
					<a><i class="large delete icon"></i></a>
			   	</div>
		   	</div>
	    </div>
</template>

