<template name="creationAssets">
    <div class="ui top attached asset-title segment {{width_class}}">
	    Assets
    </div>
    <div class="ui attached segment {{width_class}} creation-assets">
	    <div class="ui divided list">
		   	<div class="item">
			   	 <div class="content">
					<a class="ui large purple circular label"><i class="photo icon"></i></a>
					<a class="ui large purple circular label"><i class="external url icon"></i></a>
			   	 </div>
		   	</div>
	    </div>
    </div>
</template>

