@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.content-calendar > .calendar.row > .column > .content-container > {
	a.label {
		width : 30px;
		margin : 0 0 0 0;
	}
	a > i.icon {
		opacity : 1;
		margin : 0 0 0 0;
	}
}

.ui.popup {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size : 11px;
}

.ui.image.popup-image {
	width : 50px;
}

div.popup-image-container {
	margin-top : 10px;
	height : 50px;
	width : 50px;
	overflow : hidden;
}


