@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

header.default > {
	.client-dropdown > {
		.default.text {
			color : white;
			font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size : 14px;
			font-weight : bold; 
		}
		.text {
			color : white;
			font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size : 14px;
			font-weight : bold; 
		}
		.default.text :hover {
			color : blue;
		}
		.menu > {
			.item {
				font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size : 14px;
			}
		}
	}
	.client-dropdown {
		float : right;
		margin-top: 18px;
		margin-right: 50px;
		margin-bottom : 0px;
	}
	.ui.dropdown:hover > .default.text,
	.ui.default.dropdown:hover > .text {
	  	color: #a8a5a5;
	 }

}
