<template name="approvalItemDetails">
    <div class="ui one column page grid">
	    <div class="column">
		 	<div class="item-preview">
			    <h4 class="ui top attached header preview-header">
				    Create New
			    </h4>
			    <div class="ui segment attached preview-content">
				    {{#if creating_new_item}}
					    <div class="create-options">
							{{> networkTypeDropdown}}
							{{> contentTypeDropdown}}
						</div>
					{{/if}}
					
					{{#if is_content_type_chosen}}
						{{#with clickable_inputs}}
					    	{{ > createItemPreview}}
					    {{/with}}
					{{/if}}
				    {{#if creating_new_item}}
				   	 	
				   	{{else}}
				   		{{> approvalItemComments}}
				   	{{/if}}
			    </div>
			    <div class="ui bottom attached header">
					{{#if details_shown}}
						<div class="approval-actions">
							{{#if creating_new_item}}
								<div class="small blue ui button submit">submit</div>
							{{else}}
								{{> creationActions}}
							{{/if}}
						</div>
					{{/if}}
			    </div>
		 	</div>
	    </div>
    </div>
</template>

