<template name="approvalItemDetails">
    <div class="ui {{show_class}} one column page grid">
	    <div class="column">
		 	<div class="item-preview">
				
			    <h4 class="ui top attached header preview-header">
				    {{#if creating_new_item}}
				   		Create New
				   	{{else}}
				   		Edit
				   	{{/if}}
			    </h4>
			    <div class="ui segment attached preview-content">
				    <div class="create-options">
					    {{#if creating_new_item}}
						    {{#if is_content_type_chosen}}
							{{else}}
							    
									{{> networkTypeDropdown}}
									{{> contentTypeDropdown}}
								
								
							{{/if}}
						{{/if}}
						{{#if is_content_type_chosen}}
							
<!--
							<div class="ui input">
								<label for="basicExample">Time to Post</label>
								<input id="basicExample" type="text" class="time ui-timepicker-input" autocomplete="off" placeholder="Choose a time to post">
							</div>
-->
							<div class="ui segment scheduled-time">
								Scheduled to be posted at 12:45 pm
							</div>
							{{initializePicker}}
						{{/if}}
				    </div>
					
					{{#if is_content_type_chosen}}
						{{#with preview_content}}
					    	{{> UI.dynamic template=preview_template data=clickable_inputs}}
					    {{/with}}
					{{/if}}
				    {{#if creating_new_item}}
				   	 	
				   	{{else}}
				   		{{> approvalItemComments}}
				   	{{/if}}
					{{#if details_shown}}
						{{#if is_content_type_chosen}}
							<div class="action-section">
								<div class="approval-actions">
									{{#if creating_new_item}}
										<div class="small grey ui button back">back</div>
										<div class="small blue ui button submit">submit</div>
									{{else}}
										{{> creationActions}}
									{{/if}}
								</div>
							</div>
						{{/if}}
					{{/if}}
			    </div>
		 	</div>
	    </div>
    </div>
	<div class="ui small modal prompt-modal">
		{{> promptModal}}
	</div>
    {{initializeModal}}
</template>

