<template name="approvalItemDetails">
    <div class="ui {{show_class}} one column page grid">
	    <div class="column">
		 	<div class="item-preview">
				
			    <h4 class="ui top attached header preview-header">
				    <a><i class="icon back left"></i></a>
				    {{#if creating_new_item}}
				   		Create New {{network_type_name}}
				   	{{else}}
				   		Edit {{network_type_name}}
				   	{{/if}}
				   	
			    </h4>
			    <div class="ui segment attached preview-content">
				    <div class="create-options {{width_class}}">
					    {{#if show_dropdowns}}
							{{> networkTypeDropdown}}
							{{#if has_more_than_one_content_type}}
								{{> contentTypeDropdown}}
							{{/if}}
						{{/if}}
						
						{{#if is_preview_shown}}
							{{> timePicker}}
						{{/if}}
						{{> facebookLinkInput}}
				    </div>
					
					{{#if is_preview_shown}}
						{{#with preview_content}}
					    	{{> UI.dynamic template=preview_template data=clickable_inputs}}
					    {{/with}}
						{{> creationAccordion}}
						{{initializeAccordion}}
					{{/if}}
				    
					{{#if details_shown}}
						{{#if is_preview_shown}}
							<div class="action-section {{width_class}}">
								<div class="approval-actions">
									{{#if creating_new_item}}
										<div class="small grey ui button back">back</div>
										<div class="small blue ui button submit">submit</div>
									{{else}}
										{{> creationActions}}
									{{/if}}
								</div>
							</div>
						{{/if}}
						
					{{/if}}
			    </div>
		 	</div>
	    </div>
    </div>
	<div class="ui small modal prompt-modal">
		{{> promptModal}}
	</div>
    {{initializeModal}}
</template>

