<template name="creationAccordion">
    <div class="creation-accordion ui accordion {{width_class}}">
	    <div class="title">
		    <i class="comment icon"></i>
		    Comments
		    <i class="dropdown icon"></i>
	    </div>
	    <div class="content">
		   	{{> approvalItemComments}}
	    </div>
	    <div class="title">
		    <i class="attachment icon"></i>
		    Assets
		    <i class="dropdown icon"></i>
	    </div>
	    <div class="content">
		   	{{> creationAssets}}
	    </div>
    </div>
</template>

