@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 
.creation-accordion > {
	.title {
		font-size : 20px;
		font-family : alternate-gothic-no-1-d, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
	}
	.count-label {
		font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
		float : right;	
	
	}
}


.creation-accordion {
	margin-bottom : 15px;
}