<template name="defaultBody">
    <div class="default">
    	{{#if logged_in}}
	    	{{#if page_is_ready}}
	    		{{#if show_gif}}
	    			{{> successGif}}
	    		{{else}}					
			    	{{#if show_draft_board}}
			    		{{> draftBoard}}
			    	{{else}}	
			    		{{> contentCalendar}}
			    	{{/if}}
			    {{/if}}
		    	<div class="ui small modal notification-modal">
		    		
		    		{{> notificationModal}}
		    	</div>
		    	{{initializeModal}}
		    	
		    {{else}}
				<div class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
			{{/if}}  
		{{else}}
			{{> basicLogin}}
		{{/if}}  	
    </div>
</template>

