<template name="defaultBody">
    <div class="default">
    	{{#if logged_in}}
	    	{{> mainContent}}
	    	{{#if page_is_ready}}
		    	<div class="ui small modal notification-modal">
		    		{{> notificationModal}}
		    	</div>
				<div class="ui modal content-bucket-modal">
					{{> editContentBucketModal}}
				</div>
		    	
		    {{else}}
				<div class="ui active dimmer">
					<div class="ui loader"></div>
				</div>
			{{/if}}  
		{{else}}
			{{> basicLogin}}
		{{/if}}  	
    </div>
</template>

