@import '../../stylesheets/variables.less'; 
@import '../../stylesheets/elements.less'; 

.ui.menu.main-nav > {
	.item.main-title {
		font-family : alternate-gothic-no-1-d;
		font-size : 30px;
		padding : 3px 0px 0px 0px;
		margin-left : 20px;
	}
}

.ui.menu {
	border-radius: 0px 0px 0px 0px;
}

.item.user.image.container {
	padding : 10px 10px 10px 10px;
}

img.ui.avatar.user-image > {
	margin-right : 0px;
}



