<template name="mainNav">
    <div class="ui inverted black menu main-nav">
		<a class="item main-title">MVMT APPROVE</a>
		{{#if signed_in}}
			<div class="right menu">
	    		{{> notificationButton}}
		    	{{> progressBar}}
		    	<a class="ui dropdown item user-image-container">
					<img class="ui avatar image user-image" src="{{user_picture}}">
					<span class="menu">
						<a class="item sign-out">Sign Out</a>
					</span>
		    	</a>
		    	{{#if show_dropdown}}
		    		{{> clientDropdown}}
		    	{{/if}}
		    	{{initializeDropdown}}
			</div>
		{{/if}}    
	</div>
</template>

